
@{
    ViewData["Title"] = "Same Name User";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<br>
<div class="container col-6">
    <h5>User with such name already exists.</h5>
    <input type="button" value="Return to Admin Page" class="button btn-default col-12" onclick="location.href='@Url.Action("Index", "Admin")'" />
</div>

