@using AdvertisingBillboard.Domain
@using AdvertisingBillboard.Web.Models
@model AdvertisingBillboard.Web.Models.AdministratorPageViewModel
@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="container">
    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#add_user">
        Add user
    </button>

    <br>
    <br>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>User's name</th>
            <th>Devices</th>
            <th></th>
        </tr>
        <tr>
            @{
                foreach (UserViewModel user in Model.Users)
                {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>
                        <ul>
                            @foreach (Device device in user.Devices)
                            {
                                <li>@device.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <!--HOW TO DELETE VIDEO? -->
                        <form method="post" action="@Url.Action("Delete", "Users", new {id = user.Id })">
                            <button type="submit" class="btn btn-danger" value="Submit">
                                Delete user
                            </button>
                        </form>
                    </td>
                </tr>
            }
            }
        </tr>
    </table>
</div>


    <!-- Modal -->
    <div id="add_user" class="modal fade in active" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add user</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="~/Users/Add">
                        <input placeholder="Name" name="name" required />
                        <br />
                        <br />
                        <input type="submit" class="btn btn-success" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>