<!DOCTYPE html>
<html>
<head>
    <title>Auth Index Page</title>
</head>
<body>
<div>
    <form method="post">
        <label>User Name</label><br/>
        <input name="userName" />
        
        <input type="submit" value="Login" />
    </form>
    
    <a href="@Url.Action("Index", "Admin")">Login as Admin</a>
</div>
</body>
</html>