@model AdvertisingBillboard.Web.Models.UserViewModel

@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}
    <div class="container">
        <br />
        <div class="row">
            <input type="button" class="btn btn-primary col-2" value="Export timetable" />
            <span class="col-6"></span>
            <h5 class="col-4">Welcome, @Model.Name</h5>
        </div> <br />

        <ul class="nav nav-tabs">
            <li class="col-2"></li>
            <li class="active col-3">
                <a data-toggle="tab" href="#deviceList">Device List</a>
            </li>
            <li class="active col-3">
                <a data-toggle="tab" href="#adv_timetable">Check Advertising Timetable</a>
            </li>
            <li class="active col-2">
                <a data-toggle="tab" href="#videos_table">Videos</a>
            </li>
            <li class="col-2"></li>
        </ul>



        <div class="tab-content">
            <div id="deviceList" class="tab-pane fade container">
                <table class="table">
                    <table class="table">
                        <tr>
                            <th>Device name</th>
                            <th></th>
                        </tr>
                        @{ foreach (var device in Model.Devices)
                           {
                                <tr>
                                    <td>
                                        @device.Name
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#user_access_device">Get access</button>
                                    </td>
                                </tr>
                           }
                        }
                            </table>
                    <table class="table">
                        <tr>
                            <th>Device Group name</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Any name</td>
                            <td>
                                <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#user_access_group">Get access</button>
                            </td>
                        </tr>

                    </table>
                </table>
            </div>
            <div class="tab-pane fade container" id="adv_timetable">
                <table class="table">
                    <tr>
                        <th>Device name</th>
                        <th>Video</th>
                        <th>Time</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        @{ 
                            foreach (var device in Model.Devices)
                            {
                                <tr>
                                    <td>
                                        @device.Name
                                    </td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                            }
                        }
                    </tr>
                </table>
            </div>
            <div id="videos_table" class="tab-pane fade container">
                <table class="table">
                    <tr>
                        <th>Video</th>
                        <th>Amount of clicks</th>
                        <th>Amount of views</th>
                        <th>Working time</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>