@model AdvertisingBillboard.Domain.User[]
       
       @{
           Layout = null;
       }
       
       <!DOCTYPE html>
       
       <html>
       <head>
           <title>Users page</title>
       </head>
       <body>
       <div>
           
       </div>
       </body>
       </html>